@import 'compass/css3/box-shadow';
@import 'compass/css3/transform';
@import 'compass/css3/images';

.album {
  margin-top: 50px;
  margin-bottom: 60px;

  .album-art {
    float: right;
    margin: -160px -15px 0 0;
    transform: scale(0.8);
    width: 147px;
    padding-left: 3px;
    position: relative;

    &::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 3px;
      top: 0;
      height: 144px;
      background: url('../img/spine.png') 0 0 no-repeat;
      background-size: 3px 144px;
      -webkit-box-reflect: below -8px -webkit-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, transparent 40%, transparent 100%);
    }

    img {
      position: relative;
      z-index: 5;
      width: 144px;
      height: 144px;
      -webkit-box-reflect: below 0px -webkit-linear-gradient(bottom, rgba(255,255,255,0.25) 0%, transparent 40%, transparent 100%);
    }

    .reflect-shim {
      img {
        position: absolute;
        z-index: -5;
        top: 144px;
        left: 3px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        width: 3px;
        top: 138px;
        height: 144px;
        background: url('../img/spine.png') 0 0 no-repeat;
        background-size: 3px 144px;
        z-index: -2;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 138px;
        left: 0;
        width: 147px;
        height: 152px;
        background: linear-gradient(top, rgba(255,255,255,0.75) 0%, rgba(255,255,255,1.0) 40%, rgba(255,255,255,1.0) 100%);
        z-index: -1;
      }
    }
  }

  .tracks {
    margin: 40px 0;

    &::after {
      @include clearfix();
    }

    ol {
      margin: 0;
      padding: 0;
      display: block;
      font-size: 14px;
      font-weight: 400;
      color: $grey1;
      line-height: 20px;

      @media (min-width: 960px) {
        float: left;
        width: 50%;
      }

      li {
        display: block;
        list-style: none;
        margin: 5px 0;
      }

      .number {
        font-size: 13px;
        color: $grey4;
        float: left;
        text-align: right;
        width: 1.5em;
        margin-right: 10px;
        margin-top: 1px;
      }
    }
  }

  @media (min-width: 720px) {
    margin-left: 170px;

    .album-art {
      @include transform(scale(1));
      float: left;
      margin: 0 -147px 0 -170px;
      display: block;
    }
  }

}
