@import "variables";
@import "compass/css3/box-shadow";
@import "compass/css3/transition";

.btn {
  cursor: pointer;
  background-color: $yellow;
  border: none;
  padding: 9px 12px;
  color: $white;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  border-radius: 4px;
  text-decoration: none;
  @include box-shadow(inset 0 0 5px rgba(0,0,0,0.25));

  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  @include transition(background-color 0.15s);

  &:hover {
    background-color: mix($yellow, $white, 90%);
  }

  &:active {
    background-color: mix($yellow, $black, 90%);
  }

  & + .btn {
    margin-left: 5px;
  }

  &.itunes {
    background-color: $itunes;
    &:hover { background-color: mix($itunes, $white, 90%); }
    &:active { background-color: mix($itunes, $black, 90%); }
  }

  &.spotify {
    background-color: $spotify;
    &:hover { background-color: mix($spotify, $white, 90%); }
    &:active { background-color: mix($spotify, $black, 90%); }
  }

  &.cd {
    background-color: $blue;
    &:hover { background-color: mix($blue, $white, 90%); }
    &:active { background-color: mix($blue, $black, 90%); }
  }

  [class*=sprites] {
    margin-right: 5px;
  }
}
