@mixin container {
  @media (min-width: 960px) {
    width: 960px;
    margin: 0 auto;
  }
  @media (min-width: 1080px) {
    width: 1080px;
  }
}

@mixin clearfix {
  content: '';
  display: table;
  clear: both;
}
