@import "compass/css3/transition";

ul.photos {
  list-style: none;
  display: block;
  margin: 0;
  padding: 50px 0;

  > li {
    float: left;
    width: 20%;
    text-align: center;
    list-style: none;
    position: relative;
    left: 0;
    @include transition(left 0.3s, transform 0.3s);

    a {
      position: relative;
      display: inline-block;
      vertical-align: top;
      background-color: white;
      border: solid 1px $grey4;
      padding: 4px;

      img {
        width: 120px;
        height: 90px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        bottom: -8px;
        left: 0;
        right: 0;
        height: 12px;
        background: rgba(0, 0, 0, 0.25);
        border-radius: 100%;
        z-index: -1;
        opacity: 1.0;
        @include transform(scaleY(0.4));

        -webkit-filter: blur(8px);
        -moz-filter: blur(8px);
        -o-filter: blur(8px);
        -ms-filter: blur(8px);
        filter: blur(8px);

        @include transition(opacity 0.3s);
      }
    }

    &:nth-child(3) {
      z-index: 1;
    }
  }

  &:not(:hover) > li {
    &:nth-child(1) {
      @include transform(rotate(-8deg));
      left: 40%;
      a::after {
        opacity: 0;
      }
    }

    &:nth-child(2) {
      @include transform(rotate(4deg));
      left: 20%;
      a::after {
        opacity: 0;
      }
    }

    &:nth-child(3) {
      @include transform(rotate(2deg));
    }

    &:nth-child(4) {
      @include transform(rotate(8deg));
      left: -20%;
      a::after {
        opacity: 0;
      }
    }

    &:nth-child(5) {
      @include transform(rotate(-4deg));
      left: -40%;
      a::after {
        opacity: 0;
      }
    }
  }

  &::after {
    content: '';
    @include clearfix();
  }
}
