@import "variables";
@import "compass/css3/transition";
@import "mixins";

.tables {
  &::after {
    @include clearfix();
  }
}

.table {
  border: solid 1px $grey6;
  margin: 30px 0 20px;

  .title {
    text-align: center;
    padding: 10px;
  }

  .row {
    width: 100%;
    color: $grey1;
    text-align: center;
    font-size: 18px;
    font-weight: 300;

    &.header-row {
      padding: 5px 0 5px;
    }

    .column {
      float: left;
      padding: 5px 5px;
    }

    &::after {
      @include clearfix();
    }

    &.active {
      background-color: $grey6;
    }

    &.prices-usd, &.prices-eur {
      color: $grey3;
      &:hover { color: $grey1; }
    }
  }

  &.table-albums {
    .row {
      &.header-row {
        padding: 4px 0;
      }

      .column {
        width: 20%;
      }

      .sprites-cd-blue {
        margin: 0 -18px;
        @include transition(margin 1s);
      }
    }

    &.in .row .sprites-cd-blue {
      margin-right: -13px;
      margin-left: -13px;
    }

    @media (min-width: 960px) {
      float: left;
      width: 69%;
    }
  }

  &.table-shipping {
    .row {
      .column {
        width: 50%;
      }
    }

    @media (min-width: 960px) {
      float: right;
      width: 30%;
    }
  }
}
