@import "mixins";
@import "variables";
@import "compass/css3/transform";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

#top {
  margin-bottom: 20px;

  .profile {
    margin-bottom: 20px;

    @media (min-width: 720px) {
      padding-left: 120px;
    }

    &::after {
      @include clearfix();
    }

    img {
      margin: 0 10px 0 -60px;
      float: left;
      width: 50px;
      height: 50px;

      @media (min-width: 720px) {
        margin: 0 20px 0 -120px;
        width: 100px;
        height: 100px;
      }
    }

    h1 {
      margin: 0;
      padding: 8px 0 5px 0;

      @media (min-width: 720px) {
        padding: 18px 0 10px 0;
      }
    }

    .subtitle {
      font-family: $titleFont;
      font-weight: 300;
      font-size: 20px;
      color: $grey3;
      padding-bottom: 10px;

      a {
        color: $grey3;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .cover {
    height: 400px;
    background: url(../img/cover.jpg) 50% 50% no-repeat;
    background-size: cover;

    .cover-inner {
      @include container();
      content: '';
      display: block;
      height: 100%;
      position: relative;

      @media (min-width: 720px) {
        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 100%;
          width: 2000px;
          margin-right: -230px;
          background-color: transparentize($red, 0.25);
          mix-blend-mode: multiply;
        }
      }
    }
  }

  .contacts {
    display: block;
    list-style: none;
    margin: 0 -4px 0 0;
    padding: 0;

    @media (min-width: 720px) {
      position: absolute;
      right: 0;
      top: 0;
      width: 108px;
    }

    li {
      display: block;
      list-style: none;
      float: left;
      margin: 0 4px 4px 0;

      a {
        display: block;
        padding: 9px 0;
        height: 48px;
        width: 48px;
        line-height: 30px;
        text-align: center;
        position: relative;
        cursor: pointer;
        color: white;
        @include box-shadow(inset 0 0 5px rgba(0,0,0,0.25));
        border-radius: 4px;

        opacity: 0;
        @include transform(scale(0.01));
        @include transition(transform 0.2s, opacity 0.2s, background-color 0.15s);

        span {
          position: absolute;
          top: 9px;
          left: 0;
          width: 48px;
          text-transform: uppercase;
          font-size: 10px;
          opacity: 0;
          @include transform(translateX(8px));
          @include transition(transform 0.2s, opacity 0.2s);
        }

        i {
          @include transition(transform 0.2s, opacity 0.2s);
          @include transform(translateX(0));
        }

        &.in {
          opacity: 1;
          @include transform(scale(1));
        }

        &:hover {
          i {
            opacity: 0;
            @include transform(translateX(-8px));
          }
          span {
            opacity: 1;
            @include transform(translateX(0));
          }
        }
      }

      a.email {
        background-color: #e0b300;
        &:hover { background-color: mix(#e0b300, $white, 80%); }
        &:active { background-color: mix(#e0b300, $black, 90%); }
      }
      a.phone {
        background-color: #36b713;
        &:hover { background-color: mix(#36b713, $white, 80%); }
        &:active { background-color: mix(#36b713, $black, 90%); }
      }
      a.linkedin {
        background-color: $linkedInBlue;
        &:hover { background-color: mix($linkedInBlue, $white, 80%); }
        &:active { background-color: mix($linkedInBlue, $black, 90%); }
      }
      a.github {
        background-color: $grey5; color: $grey1;
        &:hover { background-color: mix($grey5, $white, 80%); }
        &:active { background-color: mix($grey5, $black, 90%); }
      }
    }
  }
}
