@import "variables";
@import "mixins";
@import "compass/css3/transition";
@import "compass/css3/images";

body {
  font: 16px/30px $bodyFont;
  font-weight: 300;
  font-kerning: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  color: $grey1;
}

h1 {
  font-family: $titleFont;
  font-weight: 300;
  font-size: 45px;
  color: $red;
}

a {
  color: darken($blue, 15%);
}

p strong {
  font-weight: 400;
  color: $black;
}

h2 {
  color: $grey5;
  font-family: $titleFont;
  font-weight: 300;
  font-size: 30px;
  line-height: 38px;
  margin: 0 0 30px;

  strong {
    color: $grey4;
    font-weight: 300;
  }

  .title {
    font-weight: 300;
    text-transform: uppercase;
    color: $red;
    margin: 0;
    font-size: 40px;

    @media (min-width: 720px) {
      font-size: 80px;
      line-height: 80px;
      float: left;
      margin-right: 20px;
      letter-spacing: -3px;
    }

    @media (min-width: 1080px) {
      letter-spacing: 0;
    }

  }

  .line {
    display: none;

    @media (min-width: 720px) {
      display: block;
      opacity: 0;
      @include transition(opacity 3s);
    }
  }
  &:hover .line {
    opacity: 1.0;
  }
}

h3 {
  background-color: $blue;
  font-family: $titleFont;
  font-size: 26px;
  color: white;
  font-weight: 300;
  margin: 50px 0 30px 0;
  line-height: 40px;
  position: relative;

  @media (min-width: 720px) {
    font-size: 30px;
    .title { font-size: 50px; }
  }

  .title {
    font-size: 36px;
    font-weight: 400;
  }

  .title, .subtitle {
    position: relative;
    z-index: 1;
  }

  .cover {
    // We can't position *exactly* right, but it doesn't matter
    // as long as we fade the image away
    position: absolute;
    z-index: 0;
    top: 0;
    right: 0;
    left: 33%;
    bottom: 0;
    background-size: cover;
    background-position: right center;
    opacity: 0.25;

    @media (min-width: 720px) {
      opacity: 1.0;
    }

    // Add fade-to-yellow gradient. As the H3 has a yellow background
    // this gives the effect of the image fading away.
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(to right, $blue 0%, transparentize($yellow,1) 100%);
    }
  }

  > .container {
    padding-top: 60px;
    padding-bottom: 55px;

    @media (min-width: 720px) {
      text-align: center;

      // Add a darkened red stripe on the left side of the container
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 2000px;
        margin-left: (230px - 2000px);
        background-color: mix($red, $black, 90);
      }
    }
  }
}

blockquote {
  margin: 60px 0;
  background-color: $grey6;
  font-weight: 300;
  font-size: 17px;
  line-height: 34px;
  color: black;
  background-size: cover;
  background-position: center;

  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 40px;

    &::before {
      position: absolute;
      content: '“';
      font-family: $titleFont;
      font-size: 80px;
      top: 70px;
      left: 10px;
      color: $grey3;
    }

    strong {
      font-weight: 300;
      font-size: 22px;
    }

    cite {
      display: block;
      font-size: 14px;
      font-style: italic;
      color: $grey3;
      &::before {
        content: '– ';
      }
    }

    @media (min-width: 720px) {
      padding-left: 280px;

      &::before {
        left: 250px;
      }

      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 100%;
        margin-right: -230px;
        width: 2000px;
        top: 0;
        bottom: 0;
        opacity: 0.9;
        background-color: transparentize($red, 0.25);
        mix-blend-mode: multiply;
      }
    }
  }

  &.race {
    text-align: right;
    background-image: url('../img/cover-race.jpg');
    .container {
      padding-bottom: 380px;
    }
  }

  &.teach {
    text-align: right;
    color: white;
    background-image: url('../img/cover-teach.jpg');
    .container {
      padding-bottom: 380px;

      &::before {
        color: $grey6;
      }

      @media (min-width: 960px) {
        padding-left: 580px;
        &::before {
          left: 550px;
        }
      }

    }
  }
}

ul.links {
  margin: 50px 0;
  padding: 0;
  display: block;
  list-style: none;

  &::after {
    content: '';
    @include clearfix();
  }

  > li {
    list-style: none;
    text-align: center;

    @media (min-width: 720px) {
      float: left;
      width: 50%;
    }

    > a {
      display: block;
      text-align: left;
      font-size: 14px;
      font-weight: normal;
      min-width: 140px;
      padding: 10px 10px 10px 70px;
      text-decoration: none;
      line-height: 20px;
      border-radius: 8px;

      @media (min-width: 720px) {
        display: inline-block;
      }

      .title {
        margin-top: 5px;
        color: $grey3;
      }

      .url {
        margin-bottom: 5px;
        text-decoration: underline;
      }

      i {
        float: left;
        margin: 0 10px 0 -60px;
        opacity: 0.75;
        @include transition(opacity 0.1s);
      }

      &:hover {
        background-color: $grey7;

        i {
          opacity: 1.0;
        }
      }
    }
  }

}
