$red: #790d02;
$white: #fff;
$black: #000;
$pink: #f2a78d;
$yellow: #e0b300;
$green: #36b713;
$blue: #679ba7;
$itunes: #fa3146;

$facebookBlue: #131d5f;
$linkedInBlue: #0c82b3;

$grey1: #333;
$grey2: #666;
$grey3: #888;
$grey4: #bbb;
$grey5: #ddd;
$grey6: #eee;
$grey7: #f8f8f8;

$bodyFont: Roboto, Helvetica, Helvetica Neue, Arial, sans;
$titleFont: "Alegreya Sans SC", Roboto, Helvetica Neue, Helvetica, Arial, sans;
