.container
  %h2
    .line To be like the <strong>creator</strong> is to observe our own
    .title Development
    .line and <strong>appreciate</strong>
    .line every <strong>good work</strong>

  %p
    Like any developer I love creating solutions to problems, but I also appreciate
    the aesthetics of design and the user's experience. I believe that great
    solutions rely on equal attention to both function and form.

.container
  %ul.links
    %li
      %a{href:"http://www.github.com/sethjeffery", target: '_blank'}
        %i.sprites-github>
        .title GitHub
        .url github.com/sethjeffery

    %li
      %a{href:"http://uk.linkedin.com/in/sethjeffery/", target: '_blank'}
        %i.sprites-linkedin>
        .title LinkedIn
        .url linkedin.com/in/sethjeffery

%blockquote.teach
  .container
    A <strong>good product</strong> will perform the required work for the user, and even do it well.
    But only a <strong>great product</strong> can take that work and make it <strong>so enjoyable</strong> that the
    user will take on <strong>more work</strong> just to keep using it.
