.container
  %h2
    .line What better to live than a faithful
    .title Life
    .line and to be a
    .line <strong>good husband</strong> for a <strong>godly wife</strong>?

  %p
    I am a <strong>songwriter</strong>, a <strong>web smith</strong> and I follow <strong>Christ</strong>.
    Among the many things I am thankful for are having and holding my wife Ana, and raising up two beautiful
    girls Faith and Harmony.

  %ul.photos
    %li.one
      %a{href: 'img/life1.jpg', rel: "gallery1" }
        %img{src: 'img/life1t.jpg'}
    %li
      %a{href: 'img/life2.jpg', rel: "gallery1" }
        %img{src: 'img/life2t.jpg'}
    %li
      %a{href: 'img/life3.jpg', rel: "gallery1" }
        %img{src: 'img/life3t.jpg'}
    %li
      %a{href: 'img/life4.jpg', rel: "gallery1" }
        %img{src: 'img/life4t.jpg'}
    %li
      %a{href: 'img/life5.jpg', rel: "gallery1" }
        %img{src: 'img/life5t.jpg'}

%blockquote.race
  .container
    <strong>I have not achieved it, but I focus </strong>on this one thing: <strong>forgetting the past</strong>
    and <strong>looking forward</strong> to what lies ahead, <strong>I press on</strong> to reach the end of the race and
    <strong>receive the heavenly prize</strong> for which God, through Christ Jesus, is calling us.
    %cite
      Paul's letter to the Philippians, chapter 3, verses 13–14
