%aside#side-image

%article#page
  %h1 Seth Jeffery

  .boxes

    .box
      .model
        .front.bg-red
          Develops websites
        .back.bg-red
          %button.close
          %a{href: 'https://github.com/sethjeffery'}
            %span.title Github
            to see what I've built
          %a{href: 'https://www.linkedin.com/in/sethjeffery'}
            %span.title LinkedIn
            for my CV and history

    .box
      .model
        .front.bg-blue
          Writes music
        .back.bg-blue
          %a{href: 'https://www.soundcloud.com/seth-jeffery'}
            %span.title Soundcloud
            to hear my recent work
          %a{href: 'https://open.spotify.com/artist/2EW1MEqM5vrQCcbQPyfeNT'}
            %span.title Spotify
            my published albums

    .box
      .model
        .front.bg-purple
          Loves his family
        .back.bg-purple
          %button.close
          %a{href: 'https://www.facebook.com/sethjeffery'}
            %span.title Facebook
            for friends and family
          %a#em
            %span.title Email
            if you want to connect

    .box
      .model
        .front.bg-cream
          Surrenders all to Jesus
        .back.bg-cream
          %button.close
          %a{href: 'http://www.oasischurch.org.uk'}
            %span.title Oasis Church
            my home church
          %a{href: 'https://open.spotify.com/album/4ZkkWElEONMGtfAGzbMI0p'}
            %span.title Fire / Water
            my latest worship album

%footer
  .copyright
    &copy; Seth Jeffery 2017.
  .disclaimer
    All me own work.
