.container
  %h2
    .line Perhaps <strong>GOD</strong> does not have a favourite style of
    .title Music
    .line but simply a
    .line favourite style of <strong>heart</strong>?

  %p
    Each album that I write becomes a chronicle of my life, a diary set to sound and orchestration.
    I hope that you will enjoy sharing in this journey, and will support my desire to keep
    journaling and worshiping in new expressive ways.

  %p
    If you'd like to order one or more CDs, please observe the pricing chart
    below and then scroll down.

.container
  .tables
    .table.table-albums
      .title
        Number of albums
      .row.header-row
        .column
          %i.sprites-cd-blue
        .column
          %i.sprites-cd-blue
          %i.sprites-cd-blue
        .column
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
        .column
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
        .column
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
          %i.sprites-cd-blue
      .row.prices-gbp.active
        .column £ 10
        .column £ 15
        .column £ 20
        .column £ 25
        .column £ 30
      /
        .row.prices-usd
          .column $ 16
          .column $ 24
          .column $ 32
          .column $ 40
          .column $ 48
        .row.prices-eur
          .column € 12
          .column € 18
          .column € 24
          .column € 30
          .column € 36

    .table.table-shipping.in
      .title
        Send to
      .row.header-row
        .column
          %i.sprites-uk
        .column
          %i.sprites-world
      .row.prices-gbp.active
        .column £ 1.50
        .column £ 2.50
      /
        .row.prices-usd
          .column
          .column $ 4
        .row.prices-eur
          .column
          .column € 3

%h3#fire-water
  .cover{style: "background-image: url('img/fire-water-cover.jpg')"}
  .container
    .title Fire / Water
    .subtitle 2015

.container
  .album{data: { id: 'Fire / Water CD' } }
    .album-art
      %img{src: 'img/fire-water-album.jpg'}
    %p
      Why is the Holy Spirit sometimes like fire, other times like rain? I find myself marvelling
      at the never-ending aspects of God, and His divine ability to be all we need for every moment we need Him.

    .buttons
      %a.btn.cd
        %i.sprites-cd-white
        Order the CD

    .tracks
      %ol
        %li
          %span.number 1
          %span.title Cloud Rider
        %li
          %span.number 2
          %span.title Praise to the Lord, the Almighty
        %li
          %span.number 3
          %span.title YHWH
        %li
          %span.number 4
          %span.title Layers
        %li
          %span.number 5
          %span.title Spirit Break Out
        %li
          %span.number 6
          %span.title Take Me In
        %li
          %span.number 7
          %span.title Come Jesus Come
      %ol
        %li
          %span.number 8
          %span.title Through Fire
        %li
          %span.number 9
          %span.title Restitution
        %li
          %span.number 10
          %span.title See You More Clearly
        %li
          %span.number 11
          %span.title At the Feed of the Saviour
        %li
          %span.number 12
          %span.title There's No One Like You
        %li
          %span.number 13
          %span.title Everything I Need

%h3#push-pause
  .cover{style: "background-image: url('img/push-pause-cover.jpg')"}
  .container
    .title Push Pause
    .subtitle 2012

.container
  .album{data: { id: 'Push Pause CD' } }
    .album-art
      %img{src: 'img/push-pause-album.jpg'}
    %p
      This was a special album for me as I awoke one morning with the names of every track,
      before writing a single one. It is a journey through worship as we pause, make room
      for the Lord and then surrender everything to Him.

    .buttons
      %a.btn.cd
        %i.sprites-cd-white
        Order the CD
      %a.btn.itunes{href: 'https://itunes.apple.com/gb/album/push-pause/id960439419', target: 'itunes'}
        %i.sprites-itunes
        Listen on iTunes

    .tracks
      %ol
        %li
          %span.number 1
          %span.title Push Pause
        %li
          %span.number 2
          %span.title Make Room
        %li
          %span.number 3
          %span.title Bless His Name
        %li
          %span.number 4
          %span.title Give Thanks
        %li
          %span.number 5
          %span.title Open Our Hearts
        %li
          %span.number 6
          %span.title Wait on the Lord
      %ol
        %li
          %span.number 7
          %span.title Surrender Everything
        %li
          %span.number 8
          %span.title Intimacy
        %li
          %span.number 9
          %span.title One (As You Are One)
        %li
          %span.number 10
          %span.title Be Changed Forever
        %li
          %span.number 11
          %span.title Now Go

%h3#the-genesis
  .cover{style: "background-image: url('img/the-genesis-cover.jpg')"}
  .container
    .title The Genesis
    .subtitle 2009

.container
  .album{data: { id: 'The Genesis 2xCD' } }
    .album-art
      %img{src: 'img/the-genesis-album.jpg'}
    %p
      The Genesis was my own challenge to write a Christian Orchestral Rock Concept Album,
      telling the book of Genesis in musical and song form over 2 CDs. The styles range from
      instrumental to ballads, to heavy rock, as the themes move with the story.

    .buttons
      %a.btn.cd
        %i.sprites-cd-white
        Order the CD
      %a.btn.itunes{href: 'https://itunes.apple.com/gb/album/the-genesis/id328565491', target: 'itunes'}
        %i.sprites-itunes
        Listen on iTunes

    .tracks
      %ol
        %li
          %span.number 1
          %span.title The Genesis
        %li
          %span.number 2
          %span.title Eden
        %li
          %span.number 3
          %span.title Cursed!
        %li
          %span.number 4
          %span.title Make Your Stand
        %li
          %span.number 5
          %span.title Before the Rainfall
        %li
          %span.number 6
          %span.title The Great Flood
        %li
          %span.number 7
          %span.title Follow My Lead
        %li
          %span.number 8
          %span.title The Journey
        %li
          %span.number 9
          %span.title Birth of a Nation
        %li
          %span.number 10
          %span.title Sarah's Time
        %li
          %span.number 11
          %span.title Return
        %li
          %span.number 12
          %span.title Find Myself a Name
        %li
          %span.number 13
          %span.title Heaven's Gates
        %li
          %span.number 14
          %span.title What It Means to Love
        %li
          %span.number 15
          %span.title A Struggle
      %ol
        %li
          %span.number 16
          %span.title Two Brothers Reunited
        %li
          %span.number 17
          %span.title Dreamer
        %li
          %span.number 18
          %span.title No Room For Twelve
        %li
          %span.number 19
          %span.title Lose It
        %li
          %span.number 20
          %span.title Sold into Slavery
        %li
          %span.number 21
          %span.title Nine To Five
        %li
          %span.number 22
          %span.title Take Me Out
        %li
          %span.number 23
          %span.title Betrayal
        %li
          %span.number 24
          %span.title Now And Always
        %li
          %span.number 25
          %span.title Dark Dreams
        %li
          %span.number 26
          %span.title Higher than the Heavens
        %li
          %span.number 27
          %span.title Seven Years of Famine
        %li
          %span.number 28
          %span.title Revenge Is A Bitter Pill
        %li
          %span.number 29
          %span.title Revelation
        %li
          %span.number 30
          %span.title Heaven's Gates II

%h3#commitment
  .cover{style: "background-image: url('img/commitment-cover.jpg')"}
  .container
    .title Commitment
    .subtitle 2006

.container
  .album{data: {id: 'Commitment CD'}}
    .album-art
      %img{src: 'img/commitment-album.jpg'}
    %p
      Having finished University and now facing my life as a working adult, I wrote the songs of
      Commitment as a profession of my continued faith in the Lord and a desire to be serious about it.

    .buttons
      %a.btn.cd
        %i.sprites-cd-white
        Order the CD

    .tracks
      %ol
        %li
          %span.number 1
          %span.title Next Level
        %li
          %span.number 2
          %span.title City of Righteousness
        %li
          %span.number 3
          %span.title Commitment
        %li
          %span.number 4
          %span.title Sing a New Song
        %li
          %span.number 5
          %span.title Million Wordless Love Songs
        %li
          %span.number 6
          %span.title Psalm
        %li
          %span.number 7
          %span.title Take Me Out
      %ol
        %li
          %span.number 8
          %span.title Banner of Love
        %li
          %span.number 9
          %span.title Lord of the Light
        %li
          %span.number 10
          %span.title So Much
        %li
          %span.number 11
          %span.title Allegiance (to You)
        %li
          %span.number 12
          %span.title All For Love
        %li
          %span.number 13
          %span.title Awesome
        %li
          %span.number 14
          %span.title Fields of Glory

.cart#cart
  .title
    %i.sprites-trolley

  %ul
  %form{action: "https://www.paypal.com/cgi-bin/webscr", method: "post", target: "_top"}
    %select{name: 'shipping_1'}
      %option{value: '1.50'} UK delivery
      %option{value: '2.50'} Worldwide
      %option{value: '0.00'} Collect in person

    %input.btn.checkout{type: 'submit', value: 'Buy'}
