.bar
.container
  %ul
    %li.title
      %img{src: "img/profile.jpg"}
      .name Seth Jeffery
    %li
      %a{href: '#life'} Life
    %li
      %a{href: '#music'} Music
      %ul
        %li
          %a{href: '#fire-water'} Fire / Water
        %li
          %a{href: '#push-pause'} Push Pause
        %li
          %a{href: '#the-genesis'} The Genesis
        %li
          %a{href: '#commitment'} Commitment
    %li
      %a{href: '#development'} Development
