.container
  .profile
    %img{src: "img/profile.jpg", alt: "Seth Jeffery", width: 100, height: 100}

    %h1
      Seth Jeffery

    .subtitle
      %a{href: '#life'} Life
      %i.sprites-star-grey
      %a{href: '#music'} Music
      %i.sprites-star-grey
      %a{href: '#development'} Development

.cover
  .cover-inner
