.container
  .profile
    %img{src: "img/profile.jpg", alt: "Seth Jeffery"}

    %h1
      Seth Jeffery

    .subtitle
      %a{href: '#life'} Life
      %i.sprites-star-grey
      %a{href: '#music'} Music
      %i.sprites-star-grey
      %a{href: '#development'} Development

    %ul.contacts
      %li
        %a.email
          %i.sprites-contact-email
          %span Email
      %li
        %a.github{href:"http://www.github.com/sethjeffery"}
          %i.sprites-contact-github
          %span Github
      %li
        %a.phone
          %i.sprites-contact-phone
          %span Phone
      %li
        %a.linkedin{href:"http://uk.linkedin.com/in/sethjeffery/"}
          %i.sprites-contact-linkedin
          %span LinkedIn

.cover
  .cover-inner
