!!! 5
%html.no-js{prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %title Seth Jeffery

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description', content: "Listen to Seth's music or read more about his albums, work and web/mobile development."}
    %meta{property: "og:image", content: "http://www.sethjeffery.com/img/cover.jpg"}

    %link{rel: 'stylesheet', href: 'css/main.css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400|Roboto:400,300,700', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "icon", href: "favicon.png", type:"image/png"}
    %link{rel: "apple-touch-icon", href: "apple-touch-icon.png", type:"image/png"}

    %script{src: 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'}

  %body
    /[if lt IE 9]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    .main-container

      %article
        %section#top
          +include 'src/partials/top.haml'

        %section#life
          +include 'src/partials/life.haml'

        %section#music
          +include 'src/partials/music.haml'

        %section#development
          +include 'src/partials/development.haml'

      %aside
        +include 'src/partials/side.haml'

    %script{src: 'js/vendor/jquery-1.11.1.min.js'}
    %script{src: 'js/vendor/jquery.fancybox.js'}
    %script{src: 'js/vendor/jquery.fancybox-thumbs.js'}
    %script{src: 'js/main.js'}
