!!! 5
%html.no-js{prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{charset: 'utf-8'}
    %meta{"http-equiv" => 'X-UA-Compatible', content: 'IE=edge'}
    %title Seth Jeffery

    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %meta{name: 'description', content: "Who is Seth Jeffery? Find out."}
    %meta{property: "og:image", content: "http://www.sethjeffery.com/img/seth-guitar.jpg"}

    %link{rel: 'stylesheet', href: 'css/main.css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400', rel: 'stylesheet', type: 'text/css'}
    %link{rel: "icon", href: "favicon.png", type:"image/png"}
    %link{rel: "apple-touch-icon", href: "apple-touch-icon.png", type:"image/png"}

    %script{src: 'js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'}

  %body
    /[if lt IE 9]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    +include 'src/partials/main.haml'

    %script{src: 'js/vendor/jquery-1.11.1.min.js'}
    %script{src: 'js/main.js'}
